@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-MediumItalic.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-ExtraBold.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background-color: #FFFFFF;
}

.open-btn .menu-bar {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 1px;
  margin: 0;
}

.open-btn:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
}

.sidebar {
  width: 350px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  overflow-y: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #011E41;
}

.sidebar-active {
  left: 0;
}

.imagenes-movil {
  background-color: #FFFFFF;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cruz-roja-mobile-logo {
  width: 80%;
  height: 50px;
  margin-right: 40px;
}

.close-icon {
  width: 30px;
  height: 30px;
  top: 13px;
  left: 310px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.close-icon:hover {
  opacity: 0.5;
}

.menu {
  width: 100%;
  margin-top: 20px;
  background-color: #011E41;
}

.menu .item {
  cursor: pointer;
  position: relative;
}

.menu .item a {
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 5px 30px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.menu .item a:hover {
  border-left: 5px solid #FFFFFF;
  background-color: #959595;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.progress-container {
  background-color: #F4F4F4;
  position: fixed;
  width: 100%;
  height: 5px;
  z-index: 1;
}

.progress-container .progress-bar {
  width: 0%;
  height: 5px;
  background-color: #F5333F;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.back-to-top {
  cursor: pointer;
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.back-to-top img {
  width: 60px;
  height: 60px;
}

.back-to-top:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
}

.back-to-top-active {
  right: -60px;
}

.header {
  width: 100%;
}

.te-informamos {
  background-color: #F5333F;
  padding: 15px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-te-informamos {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.inner-te-informamos .normal-text-0 {
  font-weight: 500;
  display: none;
}

.inner-te-informamos .normal-text {
  font-weight: 500;
}

.inner-te-informamos .bold-text {
  font-weight: 700;
}

.header-menu {
  padding: 0px 10px 10px;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.inner-header-menu {
  max-width: 1900px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-cruz-roja img {
  width: 100%;
  height: 60px;
}

.tu-centro {
  height: 44px;
  padding: 0rem 2rem;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
}

.tu-centro .tu-centro-texto {
  color: #011E41;
  font-weight: 600;
  text-align: right;
}

.tu-centro .button-secondary {
  cursor: pointer;
  width: 121px;
  height: 40px;
  color: #F5333F;
  padding: 10px;
  font-weight: 700;
  letter-spacing: 0.04em;
  border: none;
  border: 1px solid #F5333F;
  background: none;
}

.banner-header-menu {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.banner-menu-desktop {
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.banner-menu-desktop :hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #F5333F;
}

.banner-menu-desktop :hover .bottom-bar {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  border: 1px solid #F5333F;
}

.bottom-bar {
  width: 0%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pipeline {
  opacity: 0.25;
  height: 50px;
  border: 1px solid #011E41;
}

.bm-element {
  color: #011E41;
  text-decoration: none;
  background: none;
  border: none;
  padding: 10px 40px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 100%;
  max-width: 1900px;
  margin-right: auto;
  margin-left: auto;
}

.rectangle_158 {
  position: relative;
}

.rectangle_158 img {
  width: 100%;
  height: 316px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.capilar-frame {
  position: relative;
  bottom: 5px;
  background-color: #011E41;
}

.capilar-frame .inner-capilar-frame {
  max-width: 100%;
  padding: 20px;
  position: relative;
  bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.titular {
  background-color: #F5333F;
  padding: 10px;
}

.inner-titular {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner-titular > .white-text {
  font-weight: 800;
  font-size: 25px;
  line-height: 105.9%;
  text-align: center;
  color: #FFFFFF;
}

.inner-titular > .dark-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 105.9%;
  text-align: center;
  color: #011E41;
}

.insight {
  background-color: #FFFFFF;
  padding: 14.5px 7px 14.5px 12px;
}

.insight .inner-insight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.insight-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
}

.ie-text > span {
  color: #343C44;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.inner-mas-informacion {
  -webkit-filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.formulario {
  background-color: #F7F7F7;
}

.form-box {
  padding: 21.5px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.form-box > span {
  color: #011E41;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.form-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.inputs input {
  padding: 15px 16px;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #EDEDED;
}

.inputs::-webkit-input-placeholder {
  color: #B1B1B1;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.inputs:-ms-input-placeholder {
  color: #B1B1B1;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.inputs::-ms-input-placeholder {
  color: #B1B1B1;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.inputs::placeholder {
  color: #B1B1B1;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  max-width: 50px;
  max-height: 50px;
}

.checkbox-text {
  color: #959595;
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 16px;
}

.checkbox-text a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.checkbox-text .normal-text {
  font-weight: 300;
}

.button-primary {
  cursor: pointer;
  color: #FFFFFF;
  padding: 15px 16px;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #F5333F;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.tu-injerto-capilar-section {
  width: 100%;
  max-width: 1290px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.tu-injerto-title {
  padding: 35px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.tu-injerto-title-text {
  color: #011E41;
  font-size: 25px;
  font-weight: 600;
  line-height: 132.4%;
  text-align: center;
}

.vector-7v1 {
  width: 100%;
  height: 0;
  border: 2px solid #F5333F;
}

.articulo-main {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.inner-articulo {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.inner-articulo img {
  width: 120px;
  height: 120px;
}

.informacion-art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.diagnostico {
  color: #011E41;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.descripcion-articulo {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.articulo-texto {
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 27px;
}

.saber-mas {
  color: #F5333F;
  font-weight: 600;
  line-height: 22px;
}

.nuestro-centro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-nuestro-centro {
  padding: 0px 20px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nc-text {
  text-align: center;
  color: #011E41;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.nc-vectores {
  padding: 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vector-7v2,
.vector-8 {
  width: 135px;
  height: 0px;
  border: 2px solid #F5333F;
}

.flecha-abajo {
  cursor: pointer;
}

.doctora {
  padding: 55px 20px;
  background-color: #F4F4F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.inner-doctora {
  max-width: 1145px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}

.inner-doctora img {
  max-width: 588px;
  width: 100%;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.19));
          filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.19));
}

.doctora-articulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.info-doctora {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}

.nombre-doctora {
  color: #011E41;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.especialidad-doctora {
  color: #F5333F;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.doctora-texto {
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.solicita-presupuesto {
  padding: 20px;
  background-color: #F5333F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.inner-solicita-presupuesto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.sl-texto {
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.button-tertiary {
  cursor: pointer;
  width: 133px;
  height: 44px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.button-tertiary span {
  color: #011E41;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.faq {
  padding: 20px;
  max-width: 1145px;
  margin-right: auto;
  margin-left: auto;
}

.inner-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  padding-top: 17px;
}

.inner-faq-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 15px;
}

.inner-faq-titulo > span {
  color: #011E41;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.vector-6 {
  width: 295px;
  height: 0px;
  border: 2px solid #F5333F;
}

.contenedor-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.pregunta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  background-color: #FFFFFF;
}

.pregunta-titulo {
  border: 2px solid #EDEDED;
  cursor: pointer;
  padding: 12.5px 24px 12.5px 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pregunta-titulo-activo {
  background-color: rgba(245, 51, 63, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pregunta-titulo-activo .inner-pt > span {
  font-weight: 600;
}

.flechita {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.flecha-activa {
  display: inline-block;
  background-color: rgba(245, 51, 63, 0);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.inner-pt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-pt span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.inner-pt-text {
  background-color: #FFFFFF;
  display: none;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 0px 0px 35px;
}

.nuestros-exitos {
  padding-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.ne-titulo {
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 15px;
}

.ne-texto {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.vector-6v2 {
  width: 100%;
  height: 0px;
  border: 2px solid #F5333F;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.ne-review {
  padding: 62px 0px;
  max-width: 1145px;
  background-color: #FAFAFA;
}

.inner-ne-review {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.review-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nombre-person {
  color: #F5333F;
  font-weight: 600;
  font-size: 18px;
  line-height: 150.68%;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating img {
  width: 24px;
  height: 24px;
}

.review-text {
  color: #323232;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.slider {
  width: 80px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.slider img {
  cursor: pointer;
}

.slid {
  cursor: pointer;
  display: none;
  width: 32px;
  height: 32px;
}

.tllm-container {
  padding: 26px;
  color: #FFFFFF;
  background-color: #F5333F;
}

.inner-tllm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.tllm-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 25px;
  line-height: 30px;
}

.tllm-titulo-1 {
  font-weight: 700;
}

.tllm-titulo-2 {
  font-style: italic;
  font-weight: 500;
}

.tllm-form {
  width: 251px;
  height: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.campos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.campos input {
  background-color: #FFFFFF;
  padding: 10px;
  border: none;
  border-radius: 1px;
}

.campos::-webkit-input-placeholder {
  color: #8E8E8E;
  font-style: italic;
  font-weight: 500;
}

.campos:-ms-input-placeholder {
  color: #8E8E8E;
  font-style: italic;
  font-weight: 500;
}

.campos::-ms-input-placeholder {
  color: #8E8E8E;
  font-style: italic;
  font-weight: 500;
}

.campos::placeholder {
  color: #8E8E8E;
  font-style: italic;
  font-weight: 500;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
}

.checkbox-2 input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.condiciones {
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.c-normal {
  font-weight: 300;
}

.c-bold {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.button-tertiary-llamame {
  cursor: pointer;
  width: 133px;
  height: 44px;
  padding: 10px;
  border: none;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.button-tertiary-llamame > span {
  color: #011E41;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.collage-injertos {
  padding: 37px 20px 52px;
}

.collage-fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.cf-1 img {
  width: 335px;
  height: 156px;
  -o-object-fit: cover;
     object-fit: cover;
}

.extra-collage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.collage-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.collage-two img {
  width: 165px;
  height: 162px;
}

.footer {
  color: #323232;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.vector-5 {
  width: 98%;
  height: 0px;
  border: 3px solid #BDBDBD;
}

.inner-footer-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.footer-cruz-roja-logo img {
  width: 100%;
  height: 66px;
}

.footer-1-telefono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f1-tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.f1-num,
.direccion {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.rrss-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.rrss-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footer-2 {
  padding: 40px 20px 33px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aviso-legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  gap: 10px;
}

.aviso-legal a {
  color: #323232;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media only screen and (min-width: 640px) {
  .inner-te-informamos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    font-size: 20px;
  }
  .logo-cruz-roja img {
    width: 100%;
    height: 70px;
  }
  .tu-centro-texto {
    font-size: 20px;
  }
  .rectangle_158 img {
    height: 418px;
  }
  .insight {
    padding: 23px 30px;
  }
  .insight .inner-insight {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .ie-text > span {
    font-size: 18px;
    line-height: 25px;
  }
  .inner-titular {
    padding: 20px;
  }
  .inner-titular > .white-text {
    font-size: 35px;
  }
  .inner-titular > .dark-text {
    font-size: 32px;
  }
  .form-box {
    padding: 19px 52px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .checkbox {
    gap: 15px;
  }
  .diagnostico {
    font-size: 25px;
  }
  .descripcion-articulo {
    gap: 10px;
    font-size: 21px;
  }
  .inner-doctora,
  .info-doctora {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nombre-doctora {
    font-size: 28px;
  }
  .especialidad-doctora {
    font-size: 23px;
  }
  .doctora-texto {
    font-size: 20px;
  }
  .sl-texto {
    font-size: 22px;
  }
  .inner-pt-text {
    padding: 15px 38px 25px 38px;
  }
  .ne-texto {
    font-size: 22px;
  }
  .tllm-form {
    width: 500px;
  }
  .tllm-titulo {
    font-size: 30px;
  }
  .check {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cf-1 img {
    width: 570px;
    height: 212px;
  }
  .collage-two img {
    width: 280px;
    height: 270px;
  }
  .footer-cruz-roja-logo img {
    width: 100%;
    height: 70px;
  }
  .aviso-legal {
    gap: 15px;
  }
}

@media only screen and (min-width: 960px) {
  .menu-bar {
    display: none;
  }
  .banner-header-menu,
  .banner-menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-menu {
    padding: 0rem;
  }
  .banner-menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .inner-header-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .inner-te-informamos {
    font-size: 22px;
  }
  .inner-te-informamos .normal-text-0 {
    display: block;
  }
  .logo-cruz-roja img {
    width: 100%;
    height: 92px;
  }
  .tu-centro {
    padding: 0rem;
  }
  .rectangle_158 img {
    height: 518px;
  }
  .inner-titular {
    gap: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tu-injerto-title-text {
    font-size: 28px;
  }
  .inner-articulo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
  .informacion-art {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .saber-mas {
    display: none;
  }
  .inner-pt-text {
    padding: 25px 78px 35px 78px;
  }
  .nc-text,
  .ne-texto {
    font-size: 25px;
  }
  .tllm-form {
    width: 750px;
  }
  .cf-1 img {
    width: 750px;
    height: 312px;
  }
  .collage-two img {
    width: 370px;
    height: 370px;
  }
  .inner-footer-1 {
    padding: 0px 20px;
    max-width: 1203px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-1-telefono {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .f1-num {
    width: 102px;
  }
  .redes-sociales {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

@media only screen and (min-width: 1440px) {
  .inner-te-informamos {
    font-size: 18px;
  }
  .inner-te-informamos .normal-text-0,
  .inner-te-informamos .normal-text {
    font-weight: 500;
  }
  .rectangle_158 img {
    max-width: 1900px;
    height: 778px;
    -o-object-position: center -120px;
       object-position: center -120px;
  }
  .capilar-frame {
    height: 0;
    background-color: inherit;
  }
  .capilar-frame .inner-capilar-frame {
    max-width: 427px;
    margin: 0;
    bottom: 780px;
    left: 57%;
  }
  .insight {
    padding-left: 30px;
    padding-right: 30px;
  }
  .insight .inner-insight {
    max-width: 100%;
    margin: 0;
  }
  .ie-text > span {
    font-size: 18px;
    line-height: 25px;
  }
  .inner-titular {
    padding: 20px;
    gap: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .inner-titular > .white-text {
    font-size: 35px;
  }
  .inner-titular > .dark-text {
    font-size: 32px;
  }
  .form-box {
    padding: 19px 52px;
  }
  .tu-injerto {
    max-width: 1212px;
    margin-left: auto;
    margin-right: auto;
  }
  .tu-injerto-capilar-section {
    top: 60px;
  }
  .tu-injerto-title {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  .tu-injerto-title-text {
    font-size: 40px;
  }
  .vector-7v1 {
    width: 470px;
  }
  .tu-injerto-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .saber-mas {
    display: block;
  }
  .nuestro-centro {
    padding-top: 50px;
    padding-bottom: 125px;
  }
  .inner-articulo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .informacion-art {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nc-text {
    font-size: 30px;
  }
  .diagnostico {
    font-size: 20px;
  }
  .descripcion-articulo {
    font-size: 18px;
  }
  .inner-doctora {
    max-width: 1200px;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .inner-doctora img {
    width: auto;
  }
  .info-doctora {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .nombre-doctora {
    font-size: 25px;
  }
  .especialidad-doctora {
    font-size: 20px;
  }
  .doctora-texto {
    font-size: 18px;
    gap: 40px;
  }
  .inner-solicita-presupuesto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .sl-texto {
    font-size: 25px;
    line-height: 30px;
  }
  .inner-faq {
    padding-top: 50px;
  }
  .inner-faq-titulo > span {
    font-size: 25px;
  }
  .vector-6 {
    width: 470px;
  }
  .pregunta-titulo {
    font-size: 20px;
  }
  .pregunta {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .nuestros-exitos {
    padding-top: 50px;
    padding-bottom: 80px;
    gap: 40px;
  }
  .slider {
    display: none;
  }
  .ne-review {
    max-width: 1200px;
  }
  .inner-ne-review {
    padding: 61px 106px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 42px;
  }
  .slid {
    display: block;
  }
  .inner-tllm {
    gap: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tllm-form {
    width: auto;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tllm-titulo {
    font-size: 25px;
  }
  .campos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .check {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .collage-injertos {
    padding: 137px 20px 137px;
  }
  .inner-collage {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  .collage-fotos > .cf-1 img {
    width: 588px;
    height: 586px;
  }
  .collage-fotos {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .collage-two {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0px;
  }
  .collage-two img {
    width: 287px;
    height: 100%;
  }
  .extra-collage {
    gap: 17px;
  }
  .extra-collage > .cf-1 img {
    width: 593px;
    height: 100%;
  }
  .vector-5 {
    width: 99%;
  }
}

@media only screen and (min-width: 1900px) {
  .capilar-frame .inner-capilar-frame {
    left: 58%;
  }
  .vector-5 {
    width: 99%;
  }
}
/*# sourceMappingURL=style.css.map */